* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* BODY Y FONDO */
body {
    background: linear-gradient(135deg, #f3dcdcee, #ffd1b5ee);
    /*padding: 20px;*/
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    min-height: 100vh;
    /*margin-top: 115px;*/
}

header {
    background-color: #ff9c9c; 
    margin-left: -20px;      
    margin-right: -40px;
    margin-top: -20px;
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% + 40px);
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* MENÚ DE USUARIO EN ESQUINA SUPERIOR DERECHA */
.user-menu{
    position: absolute;
    top: 20px;
    right: 20px;
}

nav{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}